<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
          integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" 
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Password Manager</title>
</head>
    <body>
        <!-- Global Flash messages -->
        {% with messages = get_flashed_messages(with_categories=True) %} 
            {% if messages %}
                <div class="flash-container">
                    {% for category, message in messages %}
                        <div class="msg {{ category }}" >
                            <span>{{ message }}</span>
                            <button class='flash-close'>x</button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %} 
        {% endwith %}

        <!-- Page-specific content -->
        {% block body %}
        {% endblock %}

        <!-- Page-specific scripts -->
        {% block scripts %}
        <script>
            document.querySelectorAll(".flash-close").forEach(btn => {
                btn.addEventListener("click", () => {
                    btn.parentElement.remove();
                });
            });
        </script>
        {% endblock %}
    </body>
</html>