{% extends "base.html" %} {% block body%}
<div class="page">
    <div class="page-header">
        <h1>SecureVault</h1>
        <p>Manage your passwords securely.</p>
    </div>
    <div class='container'>
        <div class="container-header">
            <h2>Sign in</h2>
            <p>Please enter your credentials to access your vault.</p>
        </div>
        <form action="{{url_for('main.login_post')}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <label for="username">Username</label>
            <input
                type="text"
                name="username"
                placeholder="Username"
            />
            <label for="password">Password</label>
            <input
                type="password"
                name="password"
                placeholder="●●●●●●●●●●●●"
            />
            <input type="submit" value="Log In" class="btn"/>
        </form>
        <div class="no-account">
            <p>Don't have an account?</p>
            <a class="link" href="{{url_for('main.register')}}">Create account</a>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=True) %} 
        {% if messages %}
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %} 
    {% endwith %}
</div>

{% endblock %}