{% extends "base.html" %} 
{% block body%}
<div class="nav-bar">
    <h3>SecureVault</h3>
    <div class="nav-bar-left">
        <button type="button" class="btn-add-item">Add item</button>
        <form action="{{ url_for('main.logout') }}" method="POST">
            <!-- CSRF protection token required for POST requests -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn-logout">Log Out</button>
        </form>
    </div>
</div>
<div class="vault-page">
    <div class="credential-list">
        <h2>Saved credentials</h2>
        {% if credentials|length > 0 %}
            {% for credential in credentials %}
            <div class="credential-content">
                <div class="credential-info">
                    <h4>{{ credential.service }}</h4>
                    <p>{{ credential.username }}</p>
                    <p>{{ credential.url }}</p>
                </div>
                <div class="credential-actions">
                    <button type="button" class="btn-eye" data-id="{{ credential.id }}">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                    <button type="button" class="btn-trash" data-id="{{ credential.id }}">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No credentials saved yet.</p>
        {% endif %}
    </div>
</div>
<div class="modal-add">
    <div class="modal-content-add">
        <h3>Add new credential</h3>
        <button class='btn-close-add'>x</button>
        <form action="{{url_for('main.add_credential')}}" method="POST">
            <!-- CSRF protection token required for POST requests -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            <label for="service">Service</label>
            <input
                type="text"
                name="service"
                placeholder="Service"
            />

            <label for="username">Username</label>
            <input
                type="text"
                name="username"
                placeholder="Username"
            />

            <label for="password">Password</label>
            <input
                type="password"
                name="password"
                placeholder="●●●●●●●●●●●●"
            />

            <label for="url">URL</label>
            <input
                type="text"
                name="url"
                placeholder="URL"
            />

            <hr/>
            <label for="master_password">Confirm your master password</label>
            <input 
                type="password" 
                name="master_password" 
                placeholder="Your master password"
            />
            <input type="submit" value="Save" class="btn"/>
        </form>
    </div>
</div>
<div class="modal-show">
    <div class="modal-content-show">
        <h3>View password</h3>
        <button class='btn-close-show'>x</button>
        <form action="{{url_for('main.show_password')}}" method="POST">
            <!-- CSRF protection token required for POST requests -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            
            <label for="master_password">Enter your master password to reveal</label>
            <input 
                type="password" 
                name="master_password" 
                placeholder="Your master password"
            />
            
            <input 
                type="hidden" 
                name="id_show" 
                value=""
            />
            
            <input type="submit" value="Show" class="btn"/>
        </form>
    </div>
</div>
<div class="modal-delete">
    <div class="modal-content-delete">
        <div class="container-header">
            <h3>Delete credential</h3>
            <p>This action cannot be undone.</p>
        </div>
        <form action="{{url_for('main.delete_credential')}}" method="POST">
            <!-- CSRF protection token required for POST requests -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            
            <label for="master_password">Enter your master password to confirm deletion</label>
            <input 
                type="password" 
                name="master_password" 
                placeholder="Your master password"
            />
            
            <input 
                type="hidden" 
                name="id_delete" 
                value=""
            />
            
            <div class="modal-delete-btns">
                <input type="button" value="Cancel" class="btn-cancel"/>
                <input type="submit" value="Delete" class="btn-delete"/>
            </div>
        </form>
    </div>
</div>
{% endblock %}


{% block scripts %} 
{{ super() }}
<script>
    const modal_add = document.querySelector(".modal-add");
    const openBtn_add = document.querySelector(".btn-add-item");
    const closeBtn_add = document.querySelector(".btn-close-add");
    openBtn_add.addEventListener("click", () => {
        modal_add.style.display = "flex";
    });
    window.addEventListener("click", (e) => {
        if (e.target === modal_add) {
            modal_add.style.display = "none";
        }
    });
    closeBtn_add.addEventListener("click", () => {
        modal_add.style.display = "none";
    });
</script>
<script>
    const modal_show = document.querySelector(".modal-show");
    const closeBtn_show = document.querySelector(".btn-close-show");
    const id_show = modal_show.querySelector("input[name='id_show']")
    
    document.querySelectorAll(".btn-eye").forEach(btn => {
        btn.addEventListener("click", () => {
            id_show.value = btn.dataset.id;
            modal_show.style.display = "flex";
        });
    });
    window.addEventListener("click", (e) => {
        if (e.target === modal_show) {
            modal_show.style.display = "none";
        }
    });
    closeBtn_show.addEventListener("click", () => {
        modal_show.style.display = "none";
    });
</script>
<script>
    const modal_delete = document.querySelector(".modal-delete");
    const id_delete = modal_delete.querySelector("input[name='id_delete']")
    const btn_cancel = document.querySelector(".btn-cancel");

    document.querySelectorAll(".btn-trash").forEach(btn => {
        btn.addEventListener("click", () => {
            id_delete.value = btn.dataset.id;
            modal_delete.style.display = "flex";
        });
    });
    btn_cancel.addEventListener("click", () => {
        modal_delete.style.display = "none";
    });

</script>
{% endblock %}